:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
p,
h3 {
  margin: 0;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

#app .header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#app .form {
  display: flex;
  align-items: stretch;
}
#app .form .item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
#app .form .name {
  display: inline-block;
  margin-right: 10px;
}

#app .form .input-value {
  height: 35px;
  box-sizing: border-box;
  border-color: #f2f2f2;
  border-style: solid;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
}
#app .form .input-value.search {
  width: 400px;
}
#app .form .input-value.number {
  width: 120px;
}

#app .form .btn {
  background: inherit;
  border-color: #f2f2f2;
  border-style: solid;
  margin: 0 5px;
  padding: 5px 30px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

#app .list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#app .list .item {
  flex-shrink: 0;
  margin: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px 40px;
  border: 3px solid #f2f2f2;
  border-radius: 10px;
  padding: 20px;
}
#app .title {
  padding-bottom: 20px;
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 5px;
  font-size: 24px;
}

#app .title,
#app .description {
  grid-column: 2 span;
}
#app .pagination {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
#app .pagination .btn {
  background: inherit;
  border-color: #f2f2f2;
  border-style: solid;
  margin: 0 5px;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
}
#app .pagination .btn:focus-visible {
  outline: none;
}
#app .pagination .btn.active {
  border-color: black;
}
